<!DOCTYPE html>
<html>
  <head>
    <title>NewBank</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'site', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">NewBank</a>
      
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#"><span data-feather="log-out"></span> Sair</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="index.html">
                  <span data-feather="home"></span>
                  Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="conta_bancaria.html">
                  <span data-feather="file-plus"></span>
                  Conta Bancária
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="movimentacao.html">
                  <span data-feather="bar-chart-2"></span>
                  Movimentações
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="usuario.html">
                  <span data-feather="user"></span>
                  Usuário
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="sidebar"></span>
                  Agência<span class="sr-only">(current)</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

        <%= yield %>
        
        
        </main>
      </div>
    </div>

  </body>
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
</html>
